## SvenCo-op map CFG file - Arenas
## Map Author: eMTeG
startarmor 100
weapon_crowbar
weapon_glock
weapon_shotgun
weapon_mp5
weapon_gauss
weapon_357
weapon_crossbow
weapon_handgrenade
weapon_tripmine
weapon_uzi
weapon_rpg
ammo_rpgclip 1
weapon_satchel
ammo_9mm 10
ammo_crossbow 4
ammo_buckshot 12
ammo_357 6
ammo_ARgrenades 5
ammo_gaussclip 5
skill 2
mp_multiplespawn 1
mp_monsterpoints 1
mp_timelimit 0
mp_fraglimit 0
mapcyclefile mapcycle.txt
mp_flashlight 1
mp_falldamage 1
mp_forcerespawn 0
mp_weaponstay 0
## Physics stuff. 
## Don't change unless you know what Ur doing!
sv_accelerate 10
sv_airaccelerate 10
sv_airmove 1
sv_friction 4
sv_gravity 800
sv_maxspeed 270
sv_wateraccelerate 10
sv_waterfriction 1
