## SvenCo-op map CFG file - Flee
## Map Author:   Andy Crampton (TruSoulja)       trusoulja@zbzoom.net

weapon_glock
weapon_crowbar
ammo_9mm 17

skill 2

mp_timelimit 120
mp_fraglimit 0
mp_flashlight 1
mp_falldamage 0
mp_forcerespawn 0
mp_weaponstay 0

## Physics stuff. 
## Don't change unless you know what you're doing!
sv_accelerate 10
sv_airaccelerate 10
sv_airmove 1
sv_friction 4
sv_gravity 800
sv_maxspeed 270
sv_wateraccelerate 10
sv_waterfriction 1
