## Sparrows Operations Kubra Dam Version1
## Map By: Dangerous Sparrow

skill 3
weapon_crowbar
ammo_shotgun 110
ammo_9mm 120

killnpc 2

starthealth 150
startarmor 40

## Set to 0 if you DON'T want players to get frags for killing monsters
mp_monsterpoints 1

## Map frag limit. Not recommended in most circumstances!
mp_fraglimit 0

## Setting of 1 allows players to use flashlight
mp_flashlight 1

## Setting of 1 enables 'realistic' falling damage
mp_falldamage 1

## Setting of 1 forces players to respawn about a sec after death
mp_forcerespawn 0


## Physics stuff. 
## Don't change unless you know what Ur doing!
sv_accelerate 10
sv_airaccelerate 10
sv_airmove 1
sv_friction 4
sv_gravity 800
sv_maxspeed 270
sv_wateraccelerate 10
sv_waterfriction 1
