## tox_xen unknown files -_- bbb

skill 3

nextmap tox_surface8-1

weapon_crowbar
weapon_shotgun
weapon_357
weapon_mp5
weapon_handgrenade
ammo_9mm 200
ammo_buckshot 32
ammo_357

mp_monsterpoints 1
mp_timelimit 80
mp_fraglimit 0

mp_flashlight 1
mp_falldamage 1
mp_forcerespawn 0
mp_weaponstay 0

startarmor 75
starthealth 200
killnpc 2
